<!--Assign Collection "all" to get all products-->
{% assign collection = collections[].all %}

<section class="related">
<div class="related__products">
  {% paginate collection.products by 4 %}
    {% for product in collection.products %}
      <div class="product related__product-{{ forloop.index | minus: 1 }}"></div>
    {% endfor %}
  {% endpaginate %}
</div>
</section>

<script>
    var allproducts = [
      {% for product in collection.products %}
          {
              productTitle: "{{ product.title }}",
              productImageUrl : "{{ product.featured_image | img_url: 'medium' }}",
              productPrice : "{{ product.price | money }}",
              productVariantId : "{{ product.variants.first.id }}",
              productUrl: "{{ product.url }}"
          },
      {% endfor %}
    ];
  
    var relatedProducts = [];
    for (var i = 0; i < 4; i++) {
      var randomNumber = Math.floor(Math.random() * allproducts.length);
      relatedProducts.push(allproducts[randomNumber]);
      allproducts.splice(randomNumber, 1);
      console.log(relatedProducts[i].productTitle);
      var element = document.querySelector('.related__product-' + i);
      var createElement = `
        <div class="product__image">
            <a href="${relatedProducts[i].productUrl}">
                <img data-src="${relatedProducts[i].productImageUrl}" class="image" />
            </a>
        </div>
        <div class="product__details">
                <div class="product__info">
                    <h4 class="product__title">${relatedProducts[i].productTitle}</h4>
                    <h4 class="product__price">${relatedProducts[i].productPrice}</h4>
                </div>
                <div class="product__form">
                    {% form "product", product %}
                        <input type="hidden" name="id" value="${relatedProducts[i].productVariantId}" />
                        <input id="" type="submit" value="Buy Now" class="btn" />
                    {% endform %}
                    <div class="addToCart">
                        <button type="button" data-cart-add="${relatedProducts[i].productVariantId}" class="btn">Add to Cart </button>
                    </div>
                </div>
         </div>
      `
      element.innerHTML = createElement ;
    }    
 </script>
